.navbar-default .navbar-brand{
    color: #002147;
  }

  .navbar-default .navbar-nav>li>a{
    color: #002147;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
  }